:root {
    --red:hsl(0, 78%, 62%);
    --cyan:hsl(180, 62%, 55%);
    --orange:hsl(34, 97%, 64%);
    --blue:hsl(212, 86%, 64%);
    --dark-blue:hsl(234, 12%, 34%);
    --gray-blue:hsl(229, 6%, 66%);
    --light-gray:hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-gray);
    color: var(--gray-blue);
    height: 100vh;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
    text-align: center;
    width: 460px;
    margin: 50px auto;
    padding: 0px;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 400;

}

header h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--dark-blue);
    letter-spacing: 1px;
    margin-bottom: 10px;
}


/* -------------------------------------------------------------------------- */
/*                                    CARDS                                   */
/* -------------------------------------------------------------------------- */
.cards {
    max-width: 1100px;
    /* width: 100%; */
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template: repeat(2,1fr)/ repeat(3,1fr); */
    gap: 20px;
}

.cards .card {
    width: 350px;
    height: 33vh;
    padding: 30px;
    box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.cards .card h3 {
    color: var(--dark-blue);
    font-weight: 600;
    margin-bottom: 10px;
}

.cards .card p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.cards .card .icons {
    display: flex;
    justify-content: flex-end;
}

.cards .card-1, .cards .card-3 {
    grid-row: span 2;
    align-self: center;
}

.cards .card-1 {
    border-top: 5px solid var(--cyan);
}
.cards .card-2 {
    border-top: 5px solid var(--red);
}
.cards .card-3 {
    border-top: 5px solid var(--blue);
}
.cards .card-4 {
    border-top: 5px solid var(--orange);
}







/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
    background-color: var(--dark-blue);
    padding: 30px;
    color: var(--gray-blue);
}
.attribution { 
    font-size: 13px; 
    text-align: center; 
}

.attribution a { 
    /* color: hsl(228, 45%, 44%);  */
    /* text-decoration: none; */
    color: var(--gray-blue);

}